openapi: 3.2.0
info:
  title: Arthur Maintenance Quotes API
  version: 2.0.0
  description: Arthur Maintenance API - the maintenance surface of the Arthur API v2, the UK property management platform from Arthur Online (an Aareon company). Derived operation-for-operation from the provider's public Postman Documenter collection at https://developer.arthuronline.co.uk/. Every request is scoped to an Arthur entity via the mandatory X-EntityID header and authorised with an OAuth 2.0 Authorization Code access token.
  contact:
    name: Arthur Online API Support
    url: https://support.arthuronline.co.uk/
  termsOfService: https://www.arthuronline.co.uk/terms-and-conditions/
  x-derived-from: collections/arthur-online.postman_collection.json
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-date: '2026-07-26'
servers:
- url: https://api.arthuronline.co.uk/v2
  description: Arthur API v2 production
security:
- arthurOAuth: []
tags:
- name: Quotes
paths:
  /quotes:
    get:
      operationId: listQuotes
      summary: List Quotes
      tags:
      - Quotes
      parameters:
      - $ref: '#/components/parameters/EntityId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Direction'
      description: This endpoint retrieves a list of  quotes  .
      responses:
        '200':
          description: The request was completed successfully without errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                status: 200
                data:
                - id: 123
                  workorder_id: 123
                  description: Quote description
                  amount: '150.00'
                  status: accept
                  quote_required: false
                  owner_approval_required: false
                  quote_accepted: true
                  accepted_date: '2020-09-07'
                  created_by:
                    id: 123
                    full_name: Ronnie Jackson
                  workorder:
                    id: 123
                    ref: WO007
                    title: Workorder title
                  contractor:
                    id: 123
                    full_name: Ronnie Jackson
                    status: live
                  modified: '2020-09-07T15:38:18+01:00'
                  created: '2020-09-07T15:09:55+01:00'
                - id: 123
                  workorder_id: 123
                  description: Quote description
                  amount: '1230.00'
                  status: pending
                  quote_required: true
                  owner_approval_required: false
                  quote_accepted: true
                  accepted_date: null
                  created_by:
                    id: 123
                    full_name: Michael Clifford
                  workorder:
                    id: 141166
                    ref: WO1046
                    title: awaiting quote
                  contractor:
                    id: 123
                    full_name: Michael Clifford
                    status: accepted
                  modified: '2020-08-07T12:20:35+01:00'
                  created: '2020-08-03T09:15:47+01:00'
                pagination:
                  page: 1
                  current: 2
                  count: 2
                  pageCount: 1
                  limit: 20
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /quotes/{quote_id}:
    get:
      operationId: viewQuote
      summary: View Quote
      tags:
      - Quotes
      parameters:
      - name: quote_id
        in: path
        required: true
        description: Arthur quote id.
        schema:
          type: integer
      - $ref: '#/components/parameters/EntityId'
      description: View Quote related to your property manager account.
      responses:
        '200':
          description: The request was completed successfully without errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    type: object
              example:
                status: 200
                data:
                  id: 123
                  workorder_id: 123
                  description: Quote description
                  amount: '150.00'
                  status: accept
                  quote_required: false
                  owner_approval_required: false
                  quote_accepted: true
                  accepted_date: '2020-09-07'
                  created_by:
                    id: 123
                    full_name: Ronnie Jackson
                  workorder:
                    id: 123
                    ref: WO007
                    title: Workorder title
                  contractor:
                    id: 123
                    full_name: Ronnie Jackson
                    status: live
                  modified: '2020-09-07T15:38:18+01:00'
                  created: '2020-09-07T15:09:55+01:00'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Direction:
      name: direction
      in: query
      required: false
      description: Sort direction.
      schema:
        type: string
        enum:
        - ASC
        - DESC
    Sort:
      name: sort
      in: query
      required: false
      description: Field to sort the collection by.
      schema:
        type: string
    EntityId:
      name: X-EntityID
      in: header
      required: true
      description: The Arthur entity (account) the request is scoped to. Mandatory on every API call.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: Page number, between 1 and the total number of pages.
      schema:
        type: integer
        minimum: 1
    Limit:
      name: limit
      in: query
      required: false
      description: Items per page, between 1 and 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
  responses:
    BadRequest:
      description: The request was invalid or malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The request was sent to a location that does not exist in the API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, invalid or expired access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: expired_token
            message: This token has expired.
  schemas:
    Pagination:
      type: object
      description: Pagination block returned on every list response.
      properties:
        page:
          type: integer
        current:
          type: integer
        count:
          type: integer
        pageCount:
          type: integer
        limit:
          type: integer
    Error:
      type: object
      description: Arthur error envelope.
      properties:
        status:
          type: integer
        error:
          type: string
          description: Machine-readable error code, e.g. expired_token.
        message:
          type: string
  securitySchemes:
    arthurOAuth:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow. Access tokens are valid for 14 days; refresh tokens for 21 days. Register an application in Arthur Settings > OAuth Applications to obtain a client_id and client_secret.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.arthuronline.co.uk/oauth/authorize
          tokenUrl: https://auth.arthuronline.co.uk/oauth/token
          refreshUrl: https://auth.arthuronline.co.uk/oauth/token
          scopes: {}
