openapi: 3.2.0
info:
  title: Arthur Online Tenants API
  version: 2.0.0
  contact:
    name: Arthur Online API Support
    url: https://support.arthuronline.co.uk/
  termsOfService: https://www.arthuronline.co.uk/terms-and-conditions/
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-date: '2026-07-26'
  x-derived-from: collections/arthur-online.postman_collection.json
  description: 'Operations tagged Tenants across 2 of this provider''s published API definitions: arthur-online-tenancies-openapi.yml, arthur-online-tenants-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.arthuronline.co.uk/v2
  description: Arthur API v2 production
security:
- arthurOAuth: []
tags:
- name: Tenants
paths:
  /tenancies/{tenancy_id}/tenants:
    get:
      operationId: listTenantsOnTenancy
      summary: List Tenants On Tenancy
      tags:
      - Tenants
      parameters:
      - name: tenancy_id
        in: path
        required: true
        description: Arthur tenancy id.
        schema:
          type: integer
      - $ref: '#/components/parameters/EntityId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Direction'
      description: This retrieves a list of tenants related to a tenancy
      responses:
        '200':
          description: The request was completed successfully without errors.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addTenantOnTenancy
      summary: Add Tenant On Tenancy
      tags:
      - Tenants
      parameters:
      - name: tenancy_id
        in: path
        required: true
        description: Arthur tenancy id.
        schema:
          type: integer
      - $ref: '#/components/parameters/EntityId'
      - $ref: '#/components/parameters/Strict'
      description: 'Use this endpoint to create a new tenant on a tenancy. The API will return the saved data and a unique tenant ID.


        Supported Fields

        The following fields are supported for the request body


        Field

        Example

        Type

        Required?


        main_tenant

        True

        Boolean

        No


        move_in_date

        2019-05-28

        Date

        No


        move_out_date

        2019-06-28

        Time

        No


        title

        Mr

        Enum

        No


        first_name

        Ryan

        String

        No


        last_name

        Cullen

        String

        No


        date_of_birth

        1995-01-21

        Date

        No


        gender

        Male

        Enum

        No


        citizen_type

        1

        Enum

        No


        email

        email@gmail.com

        String

        No


        company_name

        MyCompany

        Strong

        No


        compant_address_name

        Address

        String

        No


        company_address1

        Boundry Road

        String

        No


        company_address2

        Wren Court

        String

        No


        company_city

        London

        String

        No


        company_postcode

        SW94DA

        String

        No


        company_county

        City of London

        String

        No


        company_country

        England

        String

        No


        phone_home

        029302932

        String

        No


        phone_work

        029382928

        String

        No


        mobile

        020192029

        String

        No


        residential_number

        201

        String

        No


        visa_number

        120-123

        String

        No


        visa_years

        3

        String

        No


        visa_type

        Tier 2

        Enum

        No


        country_of_origin

        Wales

        String

        No


        ni_number

        KS 01 AK 11 F

        String

        No


        kin_mobile

        029302991

        String

        No


        kin_last_name

        Cullen

        String

        No


        kin_first_name

        Monica

        String

        No


        kin_phone_work

        029320191

        String

        No


        student_status

        Full-time

        String

        No


        university

        Oxford

        String

        No


        course_name

        Doe Studies

        String

        No


        course_id

        1

        String

        No


        course_year

        2

        String

        No


        employment_company_name

        Lorem

        String

        No


        employment_address1

        Address First Line

        String

        No


        employment_address2

        Address Second Line

        String

        No


        employment_city

        Liverpool

        String

        No


        employment_postcode

        LN91LS

        String

        No


        employment_county

        Norfolk

        String

        No


        employment_contact_name

        Grace

        String

        No


        employment_contact_number

        0239203900

        String

        No


        employment_salary

        90000

        String

        No


        employment_length

        5 years

        String

        No


        housing_benefit_council

        Borought

        String

        No


        housing_benefit_number

        19203

        String

        No


        guarantor_first_name

        Nicolas

        String

        No


        guarantor_last_name

        Cage

        String

        No


        guarantor_date_of_birth

        1911-02-12

        String

        No


        guarantor_address1

        Address first line

        String

        No


        guarantor_address2

        Address second line

        String

        No


        guarantor_city

        London

        String

        No


        guarantor_postcode

        XP91AP

        String

        No


        guarantor_county

        Suffolk

        String

        No


        guarantor_country

        England

        String

        No


        guarantor_phone_home

        028392871

        String

        No


        guarantor_phone_work

        028191282

        String

        No


        guarantor_mobile

        029384383

        String

        No


        guarantor_email

        guarantor@email.com

        String

        No


        guarantor_relation

        Brother

        String

        No


        guarantor_home_owner

        Yes

        String

        No


        guarantor_profession

        Teacher

        String

        No


        bank_name

        Barclays

        String

        No


        bank_address1

        Address first line

        String

        No


        bank_address2

        Address second line

        String

        No


        bank_city

        Romford

        String

        No


        bank_county

        Essex

        String

        No


        bank_postcode

        FS18LA

        String

        No


        ref_name

        Ref Name

        String

        No


        ref_address1

        Ref First Line

        String

        No


        ref_address2

        Ref Second Line

        String

        No


        ref_county

        Ref Hertfordshire

        String

        No


        ref_city

        Ref City

        String

        No


        ref_postcode

        Ref Postcode

        String

        No


        ref_contact_number

        029392832

        String

        No


        ref_relation

        Mother

        String

        No


        applicant_note

        Note to remember

        String

        No


        manager_note

        Manager note

        String

        No'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                main_tenant:
                  type: boolean
                  example: true
                move_in_date:
                  type: string
                  format: date
                  example: '2019-05-28'
                move_out_date:
                  type: string
                  example: '2019-06-28'
                title:
                  type: string
                  example: Mr
                  description: Enum - see the Types API for the allowed values
                first_name:
                  type: string
                  example: Ryan
                last_name:
                  type: string
                  example: Cullen
                date_of_birth:
                  type: string
                  format: date
                  example: '1995-01-21'
                gender:
                  type: string
                  example: Male
                  description: Enum - see the Types API for the allowed values
                citizen_type:
                  type: string
                  example: '1'
                  description: Enum - see the Types API for the allowed values
                email:
                  type: string
                  example: email@gmail.com
                company_name:
                  type: string
                  example: MyCompany
                compant_address_name:
                  type: string
                  example: Address
                company_address1:
                  type: string
                  example: Boundry Road
                company_address2:
                  type: string
                  example: Wren Court
                company_city:
                  type: string
                  example: London
                company_postcode:
                  type: string
                  example: SW94DA
                company_county:
                  type: string
                  example: City of London
                company_country:
                  type: string
                  example: England
                phone_home:
                  type: string
                  example: 029302932
                phone_work:
                  type: string
                  example: 029382928
                mobile:
                  type: string
                  example: 020192029
                residential_number:
                  type: string
                  example: '201'
                visa_number:
                  type: string
                  example: 120-123
                visa_years:
                  type: string
                  example: '3'
                visa_type:
                  type: string
                  example: Tier 2
                  description: Enum - see the Types API for the allowed values
                country_of_origin:
                  type: string
                  example: Wales
                ni_number:
                  type: string
                  example: KS 01 AK 11 F
                kin_mobile:
                  type: string
                  example: 029302991
                kin_last_name:
                  type: string
                  example: Cullen
                kin_first_name:
                  type: string
                  example: Monica
                kin_phone_work:
                  type: string
                  example: 029320191
                student_status:
                  type: string
                  example: Full-time
                university:
                  type: string
                  example: Oxford
                course_name:
                  type: string
                  example: Doe Studies
                course_id:
                  type: string
                  example: '1'
                course_year:
                  type: string
                  example: '2'
                employment_company_name:
                  type: string
                  example: Lorem
                employment_address1:
                  type: string
                  example: Address First Line
                employment_address2:
                  type: string
                  example: Address Second Line
                employment_city:
                  type: string
                  example: Liverpool
                employment_postcode:
                  type: string
                  example: LN91LS
                employment_county:
                  type: string
                  example: Norfolk
                employment_contact_name:
                  type: string
                  example: Grace
                employment_contact_number:
                  type: string
                  example: 0239203900
                employment_salary:
                  type: string
                  example: '90000'
                employment_length:
                  type: string
                  example: 5 years
                housing_benefit_council:
                  type: string
                  example: Borought
                housing_benefit_number:
                  type: string
                  example: '19203'
                guarantor_first_name:
                  type: string
                  example: Nicolas
                guarantor_last_name:
                  type: string
                  example: Cage
                guarantor_date_of_birth:
                  type: string
                  example: '1911-02-12'
                guarantor_address1:
                  type: string
                  example: Address first line
                guarantor_address2:
                  type: string
                  example: Address second line
                guarantor_city:
                  type: string
                  example: London
                guarantor_postcode:
                  type: string
                  example: XP91AP
                guarantor_county:
                  type: string
                  example: Suffolk
                guarantor_country:
                  type: string
                  example: England
                guarantor_phone_home:
                  type: string
                  example: 028392871
                guarantor_phone_work:
                  type: string
                  example: 028191282
                guarantor_mobile:
                  type: string
                  example: 029384383
                guarantor_email:
                  type: string
                  example: guarantor@email.com
                guarantor_relation:
                  type: string
                  example: Brother
                guarantor_home_owner:
                  type: string
                  example: 'Yes'
                guarantor_profession:
                  type: string
                  example: Teacher
                bank_name:
                  type: string
                  example: Barclays
                bank_address1:
                  type: string
                  example: Address first line
                bank_address2:
                  type: string
                  example: Address second line
                bank_city:
                  type: string
                  example: Romford
                bank_county:
                  type: string
                  example: Essex
                bank_postcode:
                  type: string
                  example: FS18LA
                ref_name:
                  type: string
                  example: Ref Name
                ref_address1:
                  type: string
                  example: Ref First Line
                ref_address2:
                  type: string
                  example: Ref Second Line
                ref_county:
                  type: string
                  example: Ref Hertfordshire
                ref_city:
                  type: string
                  example: Ref City
                ref_postcode:
                  type: string
                  example: Ref Postcode
                ref_contact_number:
                  type: string
                  example: 029392832
                ref_relation:
                  type: string
                  example: Mother
                applicant_note:
                  type: string
                  example: Note to remember
                manager_note:
                  type: string
                  example: Manager note
      responses:
        '200':
          description: The request was completed successfully without errors.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    servers:
    - url: https://api.arthuronline.co.uk/v2
      description: Arthur API v2 production
  /tenants:
    get:
      operationId: listTenants
      summary: List Tenants
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/EntityId'
      - name: property_id
        in: query
        required: false
        schema:
          type: string
        description: Filter by the property
      - name: unit_id
        in: query
        required: false
        schema:
          type: string
        description: Filter by the unit
      - name: tenancy_id
        in: query
        required: false
        schema:
          type: string
        description: Filter by the tenancy
      - name: email
        in: query
        required: false
        schema:
          type: string
        description: Filter by tenant email
      - name: phone_home
        in: query
        required: false
        schema:
          type: string
        description: Filter by phone home number
      - name: phone_work
        in: query
        required: false
        schema:
          type: string
        description: Filter by phone work number
      - name: mobile
        in: query
        required: false
        schema:
          type: string
        description: Fily by mobile number
      - name: full_address
        in: query
        required: false
        schema:
          type: string
        description: Filter by the full address of the property
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Direction'
      description: 'This retrieves a list of tenants.


        See available filters below to customize the list of tenants returned.'
      responses:
        '200':
          description: The request was completed successfully without errors.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addTenant
      summary: Add Tenant
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/EntityId'
      - name: strict
        in: query
        required: false
        schema:
          type: string
        description: Any simple fields that cannot be found will return a validation error, instead of creating a new value. E.g. source
        example: 'true'
      description: 'Use this endpoint to create a new tenant. The API will return the saved data and a unique tenant ID.


        Supported Fields

        The following fields are supported for the request body


        Field

        Example

        Type

        Required?


        tenancy_id

        123

        Integer

        Yes


        main_tenant

        True

        Boolean

        No


        move_in_date

        2019-05-28

        Date

        No


        move_out_date

        2019-06-28

        Time

        No


        title

        Mr

        Enum

        No


        first_name

        Ryan

        String

        No


        last_name

        Cullen

        String

        No


        date_of_birth

        1995-01-21

        Date

        No


        gender

        Male

        Enum

        No


        citizen_type

        1

        Enum

        No


        email

        email@gmail.com

        String

        No


        company_name

        MyCompany

        Strong

        No


        compant_address_name

        Address

        String

        No


        company_address1

        Boundry Road

        String

        No


        company_address2

        Wren Court

        String

        No


        company_city

        London

        String

        No


        company_postcode

        SW94DA

        String

        No


        company_county

        City of London

        String

        No


        company_country

        England

        String

        No


        phone_home

        029302932

        String

        No


        phone_work

        029382928

        String

        No


        mobile

        020192029

        String

        No


        residential_number

        201

        String

        No


        visa_number

        120-123

        String

        No


        visa_years

        3

        String

        No


        visa_type

        Tier 2

        Enum

        No


        country_of_origin

        Wales

        String

        No


        ni_number

        KS 01 AK 11 F

        String

        No


        kin_mobile

        029302991

        String

        No


        kin_last_name

        Cullen

        String

        No


        kin_first_name

        Monica

        String

        No


        kin_phone_work

        029320191

        String

        No


        student_status

        Full-time

        String

        No


        university

        Oxford

        String

        No


        course_name

        Doe Studies

        String

        No


        course_id

        1

        String

        No


        course_year

        2

        String

        No


        employment_company_name

        Lorem

        String

        No


        employment_address1

        Address First Line

        String

        No


        employment_address2

        Address Second Line

        String

        No


        employment_city

        Liverpool

        String

        No


        employment_postcode

        LN91LS

        String

        No


        employment_county

        Norfolk

        String

        No


        employment_contact_name

        Grace

        String

        No


        employment_contact_number

        0239203900

        String

        No


        employment_salary

        90000

        String

        No


        employment_length

        5 years

        String

        No


        housing_benefit_council

        Borought

        String

        No


        housing_benefit_number

        19203

        String

        No


        guarantor_first_name

        Nicolas

        String

        No


        guarantor_last_name

        Cage

        String

        No


        guarantor_date_of_birth

        1911-02-12

        String

        No


        guarantor_address1

        Address first line

        String

        No


        guarantor_address2

        Address second line

        String

        No


        guarantor_city

        London

        String

        No


        guarantor_postcode

        XP91AP

        String

        No


        guarantor_county

        Suffolk

        String

        No


        guarantor_country

        England

        String

        No


        guarantor_phone_home

        028392871

        String

        No


        guarantor_phone_work

        028191282

        String

        No


        guarantor_mobile

        029384383

        String

        No


        guarantor_email

        guarantor@email.com

        String

        No


        guarantor_relation

        Brother

        String

        No


        guarantor_home_owner

        Home owner outright, Home owner with mortgage, Rented accommodation

        String

        No


        guarantor_profession

        Teacher

        String

        No


        bank_name

        Barclays

        String

        No


        bank_address1

        Address first line

        String

        No


        bank_address2

        Address second line

        String

        No


        bank_city

        Romford

        String

        No


        bank_county

        Essex

        String

        No


        bank_postcode

        FS18LA

        String

        No


        ref_name

        Ref Name

        String

        No


        ref_address1

        Ref First Line

        String

        No


        ref_address2

        Ref Second Line

        String

        No


        ref_county

        Ref Hertfordshire

        String

        No


        ref_city

        Ref City

        String

        No


        ref_postcode

        Ref Postcode

        String

        No


        ref_contact_number

        029392832

        String

        No


        ref_relation

        Mother

        String

        No


        applicant_note

        Note to remember

        String

        No


        manager_note

        Manager note

        String

        No'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenancy_id:
                  type: integer
                  example: 123
                main_tenant:
                  type: boolean
                  example: true
                move_in_date:
                  type: string
                  format: date
                  example: '2019-05-28'
                move_out_date:
                  type: string
                  example: '2019-06-28'
                title:
                  type: string
                  example: Mr
                  description: Enum - see the Types API for the allowed values
                first_name:
                  type: string
                  example: Ryan
                last_name:
                  type: string
                  example: Cullen
                date_of_birth:
                  type: string
                  format: date
                  example: '1995-01-21'
                gender:
                  type: string
                  example: Male
                  description: Enum - see the Types API for the allowed values
                citizen_type:
                  type: string
                  example: '1'
                  description: Enum - see the Types API for the allowed values
                email:
                  type: string
                  example: email@gmail.com
                company_name:
                  type: string
                  example: MyCompany
                compant_address_name:
                  type: string
                  example: Address
                company_address1:
                  type: string
                  example: Boundry Road
                company_address2:
                  type: string
                  example: Wren Court
                company_city:
                  type: string
                  example: London
                company_postcode:
                  type: string
                  example: SW94DA
                company_county:
                  type: string
                  example: City of London
                company_country:
                  type: string
                  example: England
                phone_home:
                  type: string
                  example: 029302932
                phone_work:
                  type: string
                  example: 029382928
                mobile:
                  type: string
                  example: 020192029
                residential_number:
                  type: string
                  example: '201'
                visa_number:
                  type: string
                  example: 120-123
                visa_years:
                  type: string
                  example: '3'
                visa_type:
                  type: string
                  example: Tier 2
                  description: Enum - see the Types API for the allowed values
                country_of_origin:
                  type: string
                  example: Wales
                ni_number:
                  type: string
                  example: KS 01 AK 11 F
                kin_mobile:
                  type: string
                  example: 029302991
                kin_last_name:
                  type: string
                  example: Cullen
                kin_first_name:
                  type: string
                  example: Monica
                kin_phone_work:
                  type: string
                  example: 029320191
                student_status:
                  type: string
                  example: Full-time
                university:
                  type: string
                  example: Oxford
                course_name:
                  type: string
                  example: Doe Studies
                course_id:
                  type: string
                  example: '1'
                course_year:
                  type: string
                  example: '2'
                employment_company_name:
                  type: string
                  example: Lorem
                employment_address1:
                  type: string
                  example: Address First Line
                employment_address2:
                  type: string
                  example: Address Second Line
                employment_city:
                  type: string
                  example: Liverpool
                employment_postcode:
                  type: string
                  example: LN91LS
                employment_county:
                  type: string
                  example: Norfolk
                employment_contact_name:
                  type: string
                  example: Grace
                employment_contact_number:
                  type: string
                  example: 0239203900
                employment_salary:
                  type: string
                  example: '90000'
                employment_length:
                  type: string
                  example: 5 years
                housing_benefit_council:
                  type: string
                  example: Borought
                housing_benefit_number:
                  type: string
                  example: '19203'
                guarantor_first_name:
                  type: string
                  example: Nicolas
                guarantor_last_name:
                  type: string
                  example: Cage
                guarantor_date_of_birth:
                  type: string
                  example: '1911-02-12'
                guarantor_address1:
                  type: string
                  example: Address first line
                guarantor_address2:
                  type: string
                  example: Address second line
                guarantor_city:
                  type: string
                  example: London
                guarantor_postcode:
                  type: string
                  example: XP91AP
                guarantor_county:
                  type: string
                  example: Suffolk
                guarantor_country:
                  type: string
                  example: England
                guarantor_phone_home:
                  type: string
                  example: 028392871
                guarantor_phone_work:
                  type: string
                  example: 028191282
                guarantor_mobile:
                  type: string
                  example: 029384383
                guarantor_email:
                  type: string
                  example: guarantor@email.com
                guarantor_relation:
                  type: string
                  example: Brother
                guarantor_home_owner:
                  type: string
                  example: Home owner outright, Home owner with mortgage, Rented accommodation
                guarantor_profession:
                  type: string
                  example: Teacher
                bank_name:
                  type: string
                  example: Barclays
                bank_address1:
                  type: string
                  example: Address first line
                bank_address2:
                  type: string
                  example: Address second line
                bank_city:
                  type: string
                  example: Romford
                bank_county:
                  type: string
                  example: Essex
                bank_postcode:
                  type: string
                  example: FS18LA
                ref_name:
                  type: string
                  example: Ref Name
                ref_address1:
                  type: string
                  example: Ref First Line
                ref_address2:
                  type: string
                  example: Ref Second Line
                ref_county:
                  type: string
                  example: Ref Hertfordshire
                ref_city:
                  type: string
                  example: Ref City
                ref_postcode:
                  type: string
                  example: Ref Postcode
                ref_contact_number:
                  type: string
                  example: 029392832
                ref_relation:
                  type: string
                  example: Mother
                applicant_note:
                  type: string
                  example: Note to remember
                manager_note:
                  type: string
                  example: Manager note
              required:
              - tenancy_id
      responses:
        '200':
          description: The request was completed successfully without errors.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    servers:
    - url: https://api.arthuronline.co.uk/v2
      description: Arthur API v2 production
  /tenants/{tenant_id}:
    get:
      operationId: viewTenant
      summary: View Tenant
      tags:
      - Tenants
      parameters:
      - name: tenant_id
        in: path
        required: true
        description: Arthur tenant id.
        schema:
          type: integer
      - $ref: '#/components/parameters/EntityId'
      description: 'This API endpoint retrieves the details of a single tenant, identified by its unique tenant_id .


        Use this endpoint to view the specific details of a renter.'
      responses:
        '200':
          description: The request was completed successfully without errors.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateTenant
      summary: Update Tenant
      tags:
      - Tenants
      parameters:
      - name: tenant_id
        in: path
        required: true
        description: Arthur tenant id.
        schema:
          type: integer
      - $ref: '#/components/parameters/EntityId'
      - $ref: '#/components/parameters/Strict'
      description: 'This endpoint updates an existing tenant using the same fields as the ''Add Tenant'' endpoint. Any fields that are not provided will not be changed. The API will return the updated data for the tenant in the response.


        Supported Fields

        The following fields are supported for the request body


        Field

        Example

        Type

        Required?


        tenancy_id

        123

        Integer

        No


        main_tenant

        True

        Boolean

        No


        move_in_date

        2019-05-28

        Date

        No


        move_out_date

        2019-06-28

        Time

        No


        title

        Mr

        Enum

        No


        first_name

        Ryan

        String

        No


        last_name

        Cullen

        String

        No


        date_of_birth

        1995-01-21

        Date

        No


        gender

        Male

        Enum

        No


        citizen_type

        1

        Enum

        No


        email

        email@gmail.com

        String

        No


        company_name

        MyCompany

        Strong

        No


        compant_address_name

        Address

        String

        No


        company_address1

        Boundry Road

        String

        No


        company_address2

        Wren Court

        String

        No


        company_city

        London

        String

        No


        company_postcode

        SW94DA

        String

        No


        company_county

        City of London

        String

        No


        company_country

        England

        String

        No


        phone_home

        029302932

        String

        No


        phone_work

        029382928

        String

        No


        mobile

        020192029

        String

        No


        residential_number

        201

        String

        No


        visa_number

        120-123

        String

        No


        visa_years

        3

        String

        No


        visa_type

        Tier 2

        Enum

        No


        country_of_origin

        Wales

        String

        No


        ni_number

        KS 01 AK 11 F

        String

        No


        kin_mobile

        029302991

        String

        No


        kin_last_name

        Cullen

        String

        No


        kin_first_name

        Monica

        String

        No


        kin_phone_work

        029320191

        String

        No


        student_status

        Full-time

        String

        No


        university

        Oxford

        String

        No


        course_name

        Doe Studies

        String

        No


        course_id

        1

        String

        No


        course_year

        2

        String

        No


        employment_company_name

        Lorem

        String

        No


        employment_address1

        Address First Line

        String

        No


        employment_address2

        Address Second Line

        String

        No


        employment_city

        Liverpool

        String

        No


        employment_postcode

        LN91LS

        String

        No


        employment_county

        Norfolk

        String

        No


        employment_contact_name

        Grace

        String

        No


        employment_contact_number

        0239203900

        String

        No


        employment_salary

        90000

        String

        No


        employment_length

        5 years

        String

        No


        housing_benefit_council

        Borought

        String

        No


        housing_benefit_number

        19203

        String

        No


        guarantor_first_name

        Nicolas

        String

        No


        guarantor_last_name

        Cage

        String

        No


        guarantor_date_of_birth

        1911-02-12

        String

        No


        guarantor_address1

        Address first line

        String

        No


        guarantor_address2

        Address second line

        String

        No


        guarantor_city

        London

        String

        No


        guarantor_postcode

        XP91AP

        String

        No


        guarantor_county

        Suffolk

        String

        No


        guarantor_country

        England

        String

        No


        guarantor_phone_home

        028392871

        String

        No


        guarantor_phone_work

        028191282

        String

        No


        guarantor_mobile

        029384383

        String

        No


        guarantor_email

        guarantor@email.com

        String

        No


        guarantor_relation

        Brother

        String

        No


        guarantor_home_owner

        Yes

        String

        No


        guarantor_profession

        Teacher

        String

        No


        bank_name

        Barclays

        String

        No


        bank_address1

        Address first line

        String

        No


        bank_address2

        Address second line

        String

        No


        bank_city

        Romford

        String

        No


        bank_county

        Essex

        String

        No


        bank_postcode

        FS18LA

        String

        No


        ref_name

        Ref Name

        String

        No


        ref_address1

        Ref First Line

        String

        No


        ref_address2

        Ref Second Line

        String

        No


        ref_county

        Ref Hertfordshire

        String

        No


        ref_city

        Ref City

        String

        No


        ref_postcode

        Ref Postcode

        String

        No


        ref_contact_number

        029392832

        String

        No


        ref_relation

        Mother

        String

        No


        applicant_note

        Note to remember

        String

        No


        manager_note

        Manager note

        String

        No'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenancy_id:
                  type: integer
                  example: 123
                main_tenant:
                  type: boolean
                  example: true
                move_in_date:
                  type: string
                  format: date
                  example: '2019-05-28'
                move_out_date:
                  type: string
                  example: '2019-06-28'
                title:
                  type: string
                  example: Mr
                  description: Enum - see the Types API for the allowed values
                first_name:
                  type: string
                  example: Ryan
                last_name:
                  type: string
                  example: Cullen
                date_of_birth:
                  type: string
                  format: date
                  example: '1995-01-21'
                gender:
                  type: string
                  example: Male
                  description: Enum - see the Types API for the allowed values
                citizen_type:
                  type: string
                  example: '1'
                  description: Enum - see the Types API for the allowed values
                email:
                  type: string
                  example: email@gmail.com
                company_name:
                  type: string
                  example: MyCompany
                compant_address_name:
                  type: string
                  example: Address
                company_address1:
                  type: string
                  example: Boundry Road
                company_address2:
                  type: string
                  example: Wren Court
                company_city:
                  type: string
                  example: London
                company_postcode:
                  type: string
                  example: SW94DA
                company_county:
                  type: string
                  example: City of London
                company_country:
                  type: string
                  example: England
                phone_home:
                  type: string
                  example: 029302932
                phone_work:
                  type: string
                  example: 029382928
                mobile:
                  type: string
                  example: 020192029
                residential_number:
                  type: string
                  example: '201'
                visa_number:
                  type: string
                  example: 120-123
                visa_years:
                  type: string
                  example: '3'
                visa_type:
                  type: string
                  example: Tier 2
                  description: Enum - see the Types API for the allowed values
                country_of_origin:
                  type: string
                  example: Wales
                ni_number:
                  type: string
                  example: KS 01 AK 11 F
                kin_mobile:
                  type: string
                  example: 029302991
                kin_last_name:
                  type: string
                  example: Cullen
                kin_first_name:
                  type: string
                  example: Monica
                kin_phone_work:
                  type: string
                  example: 029320191
                student_status:
                  type: string
                  example: Full-time
                university:
                  type: string
                  example: Oxford
                course_name:
                  type: string
                  example: Doe Studies
                course_id:
                  type: string
                  example: '1'
                course_year:
                  type: string
                  example: '2'
                employment_company_name:
                  type: string
                  example: Lorem
                employment_address1:
                  type: string
                  example: Address First Line
                employment_address2:
                  type: string
                  example: Address Second Line
                employment_city:
                  type: string
                  example: Liverpool
                employment_postcode:
                  type: string
                  example: LN91LS
                employment_county:
                  type: string
                  example: Norfolk
                employment_contact_name:
                  type: string
                  example: Grace
                employment_contact_number:
                  type: string
                  example: 0239203900
                employment_salary:
                  type: string
                  example: '90000'
                employment_length:
                  type: string
                  example: 5 years
                housing_benefit_council:
                  type: string
                  example: Borought
                housing_benefit_number:
                  type: string
                  example: '19203'
                guarantor_first_name:
                  type: string
                  example: Nicolas
                guarantor_last_name:
                  type: string
                  example: Cage
                guarantor_date_of_birth:
                  type: string
                  example: '1911-02-12'
                guarantor_address1:
                  type: string
                  example: Address first line
                guarantor_address2:
                  type: string
                  example: Address second line
                guarantor_city:
                  type: string
                  example: London
                guarantor_postcode:
                  type: string
                  example: XP91AP
                guarantor_county:
                  type: string
                  example: Suffolk
                guarantor_country:
                  type: string
                  example: England
                guarantor_phone_home:
                  type: string
                  example: 028392871
                guarantor_phone_work:
                  type: string
                  example: 028191282
                guarantor_mobile:
                  type: string
                  example: 029384383
                guarantor_email:
                  type: string
                  example: guarantor@email.com
                guarantor_relation:
                  type: string
                  example: Brother
                guarantor_home_owner:
                  type: string
                  example: 'Yes'
                guarantor_profession:
                  type: string
                  example: Teacher
                bank_name:
                  type: string
                  example: Barclays
                bank_address1:
                  type: string
                  example: Address first line
                bank_address2:
                  type: string
                  example: Address second line
                bank_city:
                  type: string
                  example: Romford
                bank_county:
                  type: string
                  example: Essex
                bank_postcode:
                  type: string
                  example: FS18LA
                ref_name:
                  type: string
                  example: Ref Name
                ref_address1:
                  type: string
                  example: Ref First Line
                ref_address2:
                  type: string
                  example: Ref Second Line
                ref_county:
                  type: string
                  example: Ref Hertfordshire
                ref_city:
                  type: string
                  example: Ref City
                ref_postcode:
                  type: string
                  example: Ref Postcode
                ref_contact_number:
                  type: string
                  example: 029392832
                ref_relation:
                  type: string
                  example: Mother
                applicant_note:
                  type: string
                  example: Note to remember
                manager_note:
                  type: string
                  example: Manager note
      responses:
        '200':
          description: The request was completed successfully without errors.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    servers:
    - url: https://api.arthuronline.co.uk/v2
      description: Arthur API v2 production
components:
  parameters:
    Sort:
      name: sort
      in: query
      required: false
      description: Field to sort the collection by.
      schema:
        type: string
    Direction:
      name: direction
      in: query
      required: false
      description: Sort direction.
      schema:
        type: string
        enum:
        - ASC
        - DESC
    EntityId:
      name: X-EntityID
      in: header
      required: true
      description: The Arthur entity (account) the request is scoped to. Mandatory on every API call.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: Items per page, between 1 and 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
    Page:
      name: page
      in: query
      required: false
      description: Page number, between 1 and the total number of pages.
      schema:
        type: integer
        minimum: 1
    Strict:
      name: strict
      in: query
      required: false
      description: When true, abort the request instead of auto-creating an unknown Simple type. POST and PUT only.
      schema:
        type: boolean
  responses:
    Unauthorized:
      description: Missing, invalid or expired access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: expired_token
            message: This token has expired.
    NotFound:
      description: The request was sent to a location that does not exist in the API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request was invalid or malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Arthur error envelope.
      properties:
        status:
          type: integer
        error:
          type: string
          description: Machine-readable error code, e.g. expired_token.
        message:
          type: string
  securitySchemes:
    arthurOAuth:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow. Access tokens are valid for 14 days; refresh tokens for 21 days. Register an application in Arthur Settings > OAuth Applications to obtain a client_id and client_secret.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.arthuronline.co.uk/oauth/authorize
          tokenUrl: https://auth.arthuronline.co.uk/oauth/token
          refreshUrl: https://auth.arthuronline.co.uk/oauth/token
          scopes: {}
x-refined-from:
- arthur-online-tenancies-openapi.yml
- arthur-online-tenants-openapi.yml
